/* DEFAULTS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(./Images/yellow-question-mark-background-with-text-space-quiz-symbol-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#highScoreDiv {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  #highH3 {
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
  }

  
/* START */

#firstButton{
    border: none;
    border-radius: 3px;
    background-color: rgb(167, 240, 20);
    color: black;
    padding: 15px 25px;
    cursor: pointer;
}

#goBack{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    font-family: monospace;
    font-size: 15px;
    
}

#readRules{
    width: 100%;
    gap: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#coolGame{
    font-family: fantasy;
    font-style: oblique;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

#rulesText{
    font-family: cursive;
}

#rulesDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#rulesButton{
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(226, 163, 45);
}

#startH2{
    color: blue;
    font-size: 20px;
    text-align: center;
}

.hidden{
    display: none !important; 
} 


/* COUNTDOWN */

#countDown{
    color: blue;
    border: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -16%);
    font-size: 25px;
}


/* DIVS */

div:not(#highScoreDiv, #buttonsDiv, #logoTitleDiv){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.equatButton{
    padding: 15px 100px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

    background-color: rgb(12, 12, 201);
    color: black;
    font-weight: bolder;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 3px;
    border: none;
    background-color: rgb(18, 192, 192);
    color: red;
    
}

input::placeholder{
    color: black;
}

input:focus{
    border: none;
}

h4{
    font-size: 110%;
    font-style: italic;
    
}


#winningDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

#winningDiv > h1{
    text-align: center;
    color: red;
    font-weight: bold;
    font-style: oblique;
    font-size: 55px;
}

#losingDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* END */

.winningBody{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.losingBody{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

#redo{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: none;
    border-radius: 5px;
    color: red;
    background-color: rgb(0, 0, 0);
    padding: 15px 25px;
    cursor: pointer;
}

#retry{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -60%);
    border: none;
    border-radius: 5px;
    color: red;
    background-color: rgb(0, 0, 0);
    padding: 15px 25px;
    cursor: pointer;
}

#youLoseH{
    font-size: 25px;
}